_data/santander-customer-transaction-prediction.zip
_data/santander-customer-transaction-prediction/sample_submission.csv
_data/santander-customer-transaction-prediction/submit/submit_0908_1615.csv
_data/santander-customer-transaction-prediction/submit/submit_0908_1628.csv
_data/santander-customer-transaction-prediction/submit/submit_0908_1641.csv
_data/santander-customer-transaction-prediction/test.csv
_data/santander-customer-transaction-prediction/train.csv
