_data/santander-customer-transaction-prediction.zip
_data/santander-customer-transaction-prediction/sample_submission.csv
_data/santander-customer-transaction-prediction/submit/submit_0908_1615.csv
_data/santander-customer-transaction-prediction/submit/submit_0908_1628.csv
_data/santander-customer-transaction-prediction/submit/submit_0908_1641.csv
_data/santander-customer-transaction-prediction/test.csv
_data/santander-customer-transaction-prediction/train.csv
_data/image/brain/brain.zip
_data/image/brain/test/ad/ad_test_1.jpg
_data/image/brain/test/ad/ad_test_10.jpg
_data/image/brain/test/ad/ad_test_11.jpg
_data/image/brain/test/ad/ad_test_12.jpg
_data/image/brain/test/ad/ad_test_13.jpg
_data/image/brain/test/ad/ad_test_14.jpg
_data/image/brain/test/ad/ad_test_15.jpg
_data/image/brain/test/ad/ad_test_16.jpg
_data/image/brain/test/ad/ad_test_17.jpg
_data/image/brain/test/ad/ad_test_18.jpg
_data/image/brain/test/ad/ad_test_19.jpg
_data/image/brain/test/ad/ad_test_2.jpg
_data/image/brain/test/ad/ad_test_20.jpg
_data/image/brain/test/ad/ad_test_21.jpg
_data/image/brain/test/ad/ad_test_22.jpg
_data/image/brain/test/ad/ad_test_23.jpg
_data/image/brain/test/ad/ad_test_24.jpg
_data/image/brain/test/ad/ad_test_25.jpg
_data/image/brain/test/ad/ad_test_26.jpg
_data/image/brain/test/ad/ad_test_27.jpg
_data/image/brain/test/ad/ad_test_28.jpg
_data/image/brain/test/ad/ad_test_29.jpg
_data/image/brain/test/ad/ad_test_3.jpg
_data/image/brain/test/ad/ad_test_30.jpg
_data/image/brain/test/ad/ad_test_31.jpg
_data/image/brain/test/ad/ad_test_32.jpg
_data/image/brain/test/ad/ad_test_33.jpg
_data/image/brain/test/ad/ad_test_34.jpg
_data/image/brain/test/ad/ad_test_35.jpg
_data/image/brain/test/ad/ad_test_36.jpg
_data/image/brain/test/ad/ad_test_37.jpg
_data/image/brain/test/ad/ad_test_38.jpg
_data/image/brain/test/ad/ad_test_39.jpg
_data/image/brain/test/ad/ad_test_4.jpg
_data/image/brain/test/ad/ad_test_40.jpg
_data/image/brain/test/ad/ad_test_41.jpg
_data/image/brain/test/ad/ad_test_42.jpg
_data/image/brain/test/ad/ad_test_43.jpg
_data/image/brain/test/ad/ad_test_44.jpg
_data/image/brain/test/ad/ad_test_45.jpg
_data/image/brain/test/ad/ad_test_46.jpg
_data/image/brain/test/ad/ad_test_47.jpg
_data/image/brain/test/ad/ad_test_48.jpg
_data/image/brain/test/ad/ad_test_49.jpg
_data/image/brain/test/ad/ad_test_5.jpg
_data/image/brain/test/ad/ad_test_50.jpg
_data/image/brain/test/ad/ad_test_51.jpg
_data/image/brain/test/ad/ad_test_52.jpg
_data/image/brain/test/ad/ad_test_53.jpg
_data/image/brain/test/ad/ad_test_54.jpg
_data/image/brain/test/ad/ad_test_55.jpg
_data/image/brain/test/ad/ad_test_56.jpg
_data/image/brain/test/ad/ad_test_57.jpg
_data/image/brain/test/ad/ad_test_58.jpg
_data/image/brain/test/ad/ad_test_59.jpg
_data/image/brain/test/ad/ad_test_6.jpg
_data/image/brain/test/ad/ad_test_60.jpg
_data/image/brain/test/ad/ad_test_7.jpg
_data/image/brain/test/ad/ad_test_8.jpg
_data/image/brain/test/ad/ad_test_9.jpg
_data/image/brain/test/normal/normal_test_1.jpg
_data/image/brain/test/normal/normal_test_10.jpg
_data/image/brain/test/normal/normal_test_11.jpg
_data/image/brain/test/normal/normal_test_12.jpg
_data/image/brain/test/normal/normal_test_13.jpg
_data/image/brain/test/normal/normal_test_14.jpg
_data/image/brain/test/normal/normal_test_15.jpg
_data/image/brain/test/normal/normal_test_16.jpg
_data/image/brain/test/normal/normal_test_17.jpg
_data/image/brain/test/normal/normal_test_18.jpg
_data/image/brain/test/normal/normal_test_19.jpg
_data/image/brain/test/normal/normal_test_2.jpg
_data/image/brain/test/normal/normal_test_20.jpg
_data/image/brain/test/normal/normal_test_21.jpg
_data/image/brain/test/normal/normal_test_22.jpg
_data/image/brain/test/normal/normal_test_23.jpg
_data/image/brain/test/normal/normal_test_24.jpg
_data/image/brain/test/normal/normal_test_25.jpg
_data/image/brain/test/normal/normal_test_26.jpg
_data/image/brain/test/normal/normal_test_27.jpg
_data/image/brain/test/normal/normal_test_28.jpg
_data/image/brain/test/normal/normal_test_29.jpg
_data/image/brain/test/normal/normal_test_3.jpg
_data/image/brain/test/normal/normal_test_30.jpg
_data/image/brain/test/normal/normal_test_31.jpg
_data/image/brain/test/normal/normal_test_32.jpg
_data/image/brain/test/normal/normal_test_33.jpg
_data/image/brain/test/normal/normal_test_34.jpg
_data/image/brain/test/normal/normal_test_35.jpg
_data/image/brain/test/normal/normal_test_36.jpg
_data/image/brain/test/normal/normal_test_37.jpg
_data/image/brain/test/normal/normal_test_38.jpg
_data/image/brain/test/normal/normal_test_39.jpg
_data/image/brain/test/normal/normal_test_4.jpg
_data/image/brain/test/normal/normal_test_40.jpg
_data/image/brain/test/normal/normal_test_41.jpg
_data/image/brain/test/normal/normal_test_42.jpg
_data/image/brain/test/normal/normal_test_43.jpg
_data/image/brain/test/normal/normal_test_44.jpg
_data/image/brain/test/normal/normal_test_45.jpg
_data/image/brain/test/normal/normal_test_46.jpg
_data/image/brain/test/normal/normal_test_47.jpg
_data/image/brain/test/normal/normal_test_48.jpg
_data/image/brain/test/normal/normal_test_49.jpg
_data/image/brain/test/normal/normal_test_5.jpg
_data/image/brain/test/normal/normal_test_50.jpg
_data/image/brain/test/normal/normal_test_51.jpg
_data/image/brain/test/normal/normal_test_52.jpg
_data/image/brain/test/normal/normal_test_53.jpg
_data/image/brain/test/normal/normal_test_54.jpg
_data/image/brain/test/normal/normal_test_55.jpg
_data/image/brain/test/normal/normal_test_56.jpg
_data/image/brain/test/normal/normal_test_57.jpg
_data/image/brain/test/normal/normal_test_58.jpg
_data/image/brain/test/normal/normal_test_59.jpg
_data/image/brain/test/normal/normal_test_6.jpg
_data/image/brain/test/normal/normal_test_60.jpg
_data/image/brain/test/normal/normal_test_7.jpg
_data/image/brain/test/normal/normal_test_8.jpg
_data/image/brain/test/normal/normal_test_9.jpg
_data/image/brain/train/ad/ad_train_1.jpg
_data/image/brain/train/ad/ad_train_10.jpg
_data/image/brain/train/ad/ad_train_11.jpg
_data/image/brain/train/ad/ad_train_12.jpg
_data/image/brain/train/ad/ad_train_13.jpg
_data/image/brain/train/ad/ad_train_14.jpg
_data/image/brain/train/ad/ad_train_15.jpg
_data/image/brain/train/ad/ad_train_16.jpg
_data/image/brain/train/ad/ad_train_17.jpg
_data/image/brain/train/ad/ad_train_18.jpg
_data/image/brain/train/ad/ad_train_19.jpg
_data/image/brain/train/ad/ad_train_2.jpg
_data/image/brain/train/ad/ad_train_20.jpg
_data/image/brain/train/ad/ad_train_21.jpg
_data/image/brain/train/ad/ad_train_22.jpg
_data/image/brain/train/ad/ad_train_23.jpg
_data/image/brain/train/ad/ad_train_24.jpg
_data/image/brain/train/ad/ad_train_25.jpg
_data/image/brain/train/ad/ad_train_26.jpg
_data/image/brain/train/ad/ad_train_27.jpg
_data/image/brain/train/ad/ad_train_28.jpg
_data/image/brain/train/ad/ad_train_29.jpg
_data/image/brain/train/ad/ad_train_3.jpg
_data/image/brain/train/ad/ad_train_30.jpg
_data/image/brain/train/ad/ad_train_31.jpg
_data/image/brain/train/ad/ad_train_32.jpg
_data/image/brain/train/ad/ad_train_33.jpg
_data/image/brain/train/ad/ad_train_34.jpg
_data/image/brain/train/ad/ad_train_35.jpg
_data/image/brain/train/ad/ad_train_36.jpg
_data/image/brain/train/ad/ad_train_37.jpg
_data/image/brain/train/ad/ad_train_38.jpg
_data/image/brain/train/ad/ad_train_39.jpg
_data/image/brain/train/ad/ad_train_4.jpg
_data/image/brain/train/ad/ad_train_40.jpg
_data/image/brain/train/ad/ad_train_41.jpg
_data/image/brain/train/ad/ad_train_42.jpg
_data/image/brain/train/ad/ad_train_43.jpg
_data/image/brain/train/ad/ad_train_44.jpg
_data/image/brain/train/ad/ad_train_45.jpg
_data/image/brain/train/ad/ad_train_46.jpg
_data/image/brain/train/ad/ad_train_47.jpg
_data/image/brain/train/ad/ad_train_48.jpg
_data/image/brain/train/ad/ad_train_49.jpg
_data/image/brain/train/ad/ad_train_5.jpg
_data/image/brain/train/ad/ad_train_50.jpg
_data/image/brain/train/ad/ad_train_51.jpg
_data/image/brain/train/ad/ad_train_52.jpg
_data/image/brain/train/ad/ad_train_53.jpg
_data/image/brain/train/ad/ad_train_54.jpg
_data/image/brain/train/ad/ad_train_55.jpg
_data/image/brain/train/ad/ad_train_56.jpg
_data/image/brain/train/ad/ad_train_57.jpg
_data/image/brain/train/ad/ad_train_58.jpg
_data/image/brain/train/ad/ad_train_59.jpg
_data/image/brain/train/ad/ad_train_6.jpg
_data/image/brain/train/ad/ad_train_60.jpg
_data/image/brain/train/ad/ad_train_61.jpg
_data/image/brain/train/ad/ad_train_62.jpg
_data/image/brain/train/ad/ad_train_63.jpg
_data/image/brain/train/ad/ad_train_64.jpg
_data/image/brain/train/ad/ad_train_65.jpg
_data/image/brain/train/ad/ad_train_66.jpg
_data/image/brain/train/ad/ad_train_67.jpg
_data/image/brain/train/ad/ad_train_68.jpg
_data/image/brain/train/ad/ad_train_69.jpg
_data/image/brain/train/ad/ad_train_7.jpg
_data/image/brain/train/ad/ad_train_70.jpg
_data/image/brain/train/ad/ad_train_71.jpg
_data/image/brain/train/ad/ad_train_72.jpg
_data/image/brain/train/ad/ad_train_73.jpg
_data/image/brain/train/ad/ad_train_74.jpg
_data/image/brain/train/ad/ad_train_75.jpg
_data/image/brain/train/ad/ad_train_76.jpg
_data/image/brain/train/ad/ad_train_77.jpg
_data/image/brain/train/ad/ad_train_78.jpg
_data/image/brain/train/ad/ad_train_79.jpg
_data/image/brain/train/ad/ad_train_8.jpg
_data/image/brain/train/ad/ad_train_80.jpg
_data/image/brain/train/ad/ad_train_9.jpg
_data/image/brain/train/normal/normal_train_1.jpg
_data/image/brain/train/normal/normal_train_10.jpg
_data/image/brain/train/normal/normal_train_11.jpg
_data/image/brain/train/normal/normal_train_12.jpg
_data/image/brain/train/normal/normal_train_13.jpg
_data/image/brain/train/normal/normal_train_14.jpg
_data/image/brain/train/normal/normal_train_15.jpg
_data/image/brain/train/normal/normal_train_16.jpg
_data/image/brain/train/normal/normal_train_17.jpg
_data/image/brain/train/normal/normal_train_18.jpg
_data/image/brain/train/normal/normal_train_19.jpg
_data/image/brain/train/normal/normal_train_2.jpg
_data/image/brain/train/normal/normal_train_20.jpg
_data/image/brain/train/normal/normal_train_21.jpg
_data/image/brain/train/normal/normal_train_22.jpg
_data/image/brain/train/normal/normal_train_23.jpg
_data/image/brain/train/normal/normal_train_24.jpg
_data/image/brain/train/normal/normal_train_25.jpg
_data/image/brain/train/normal/normal_train_26.jpg
_data/image/brain/train/normal/normal_train_27.jpg
_data/image/brain/train/normal/normal_train_28.jpg
_data/image/brain/train/normal/normal_train_29.jpg
_data/image/brain/train/normal/normal_train_3.jpg
_data/image/brain/train/normal/normal_train_30.jpg
_data/image/brain/train/normal/normal_train_31.jpg
_data/image/brain/train/normal/normal_train_32.jpg
_data/image/brain/train/normal/normal_train_33.jpg
_data/image/brain/train/normal/normal_train_34.jpg
_data/image/brain/train/normal/normal_train_35.jpg
_data/image/brain/train/normal/normal_train_36.jpg
_data/image/brain/train/normal/normal_train_37.jpg
_data/image/brain/train/normal/normal_train_38.jpg
_data/image/brain/train/normal/normal_train_39.jpg
_data/image/brain/train/normal/normal_train_4.jpg
_data/image/brain/train/normal/normal_train_40.jpg
_data/image/brain/train/normal/normal_train_41.jpg
_data/image/brain/train/normal/normal_train_42.jpg
_data/image/brain/train/normal/normal_train_43.jpg
_data/image/brain/train/normal/normal_train_44.jpg
_data/image/brain/train/normal/normal_train_45.jpg
_data/image/brain/train/normal/normal_train_46.jpg
_data/image/brain/train/normal/normal_train_47.jpg
_data/image/brain/train/normal/normal_train_48.jpg
_data/image/brain/train/normal/normal_train_49.jpg
_data/image/brain/train/normal/normal_train_5.jpg
_data/image/brain/train/normal/normal_train_50.jpg
_data/image/brain/train/normal/normal_train_51.jpg
_data/image/brain/train/normal/normal_train_52.jpg
_data/image/brain/train/normal/normal_train_53.jpg
_data/image/brain/train/normal/normal_train_54.jpg
_data/image/brain/train/normal/normal_train_55.jpg
_data/image/brain/train/normal/normal_train_56.jpg
_data/image/brain/train/normal/normal_train_57.jpg
_data/image/brain/train/normal/normal_train_58.jpg
_data/image/brain/train/normal/normal_train_59.jpg
_data/image/brain/train/normal/normal_train_6.jpg
_data/image/brain/train/normal/normal_train_60.jpg
_data/image/brain/train/normal/normal_train_61.jpg
_data/image/brain/train/normal/normal_train_62.jpg
_data/image/brain/train/normal/normal_train_63.jpg
_data/image/brain/train/normal/normal_train_64.jpg
_data/image/brain/train/normal/normal_train_65.jpg
_data/image/brain/train/normal/normal_train_66.jpg
_data/image/brain/train/normal/normal_train_67.jpg
_data/image/brain/train/normal/normal_train_68.jpg
_data/image/brain/train/normal/normal_train_69.jpg
_data/image/brain/train/normal/normal_train_7.jpg
_data/image/brain/train/normal/normal_train_70.jpg
_data/image/brain/train/normal/normal_train_71.jpg
_data/image/brain/train/normal/normal_train_72.jpg
_data/image/brain/train/normal/normal_train_73.jpg
_data/image/brain/train/normal/normal_train_74.jpg
_data/image/brain/train/normal/normal_train_75.jpg
_data/image/brain/train/normal/normal_train_76.jpg
_data/image/brain/train/normal/normal_train_77.jpg
_data/image/brain/train/normal/normal_train_78.jpg
_data/image/brain/train/normal/normal_train_79.jpg
_data/image/brain/train/normal/normal_train_8.jpg
_data/image/brain/train/normal/normal_train_80.jpg
_data/image/brain/train/normal/normal_train_9.jpg
